/* @import url('https://fonts.googleapis.com/css2?family=Angkor&family=Inter&display=swap'); */

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.landingHeader {
    font-size: 4rem;
    line-height: normal;
    text-align: center;
    font-weight: bold;
}

.landingSubheader {
    font-size: 1.5rem;
    text-align: center;
    color: #94a1b2;
}

.highlightText {
    color: #9700ff;
    font-weight: bold;
}

.jobHeader {
    margin-top: 50px;
    height: 140px;
    text-align: center;
}

.landingSubtext {
    font-size: 1.25rem;
    text-align: center;
    color: #94a1b2;
}

.hourlyHeaderText {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.75rem;
}

.menuBlockWrapper {
    display: flex;
}

.menuContent {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.menuContent>img {
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}


.menuLink {
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

.sprinkles {
    animation: twinkle 5s infinite alternate ease-in-out;
    width: 110vw !important;
    height: auto;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
}

.menuHeader {
    margin-top: 150px;
    text-align: center;
}

.menuImage {
    width: 100%;
}

.drawerPhoneIcon {
    margin-right: 5px;
    width: 25px;
}

.marginBottomSmall {
    margin-bottom: 80px;
}

.drawerItemLogin {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
}

.navCallButton {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navCallButtonMobile {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navCallButton>span {
    margin: auto;
}

.aboutTitleHeader {
    text-align: center;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrollToLocation {
    height: 100px;
    background-color: white;
}

.jobPostWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sectionWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.howItWorksWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.howItWorksCardsWrapper {
    display: flex;
    justify-content: center;
    margin: 25px 0 50px 0;

}

.howItWorksCard {
    display: flex;
    flex-direction: column;
    border: 2px solid #9700ff;
    margin: 10px;
    padding: 15px;
    border-radius: 16px;
    text-align: center;
    width: 280px;
}

.howItWorksTitle {
    color: #9700ff;
}

.jobPostLink {
    color: white;
}

.jobDescLink {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.jobPost {
    background-color: black;
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.jobPostTitle {
    font-size: 1.25rem;
    font-weight: bold;
}

.jobPost p {
    color: white;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.aboutSectionWrapper {
    display: flex;
    flex-direction: column;
}

.pricingRoot {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pricingTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #9700ff;
    text-align: center;
    margin-bottom: 12px;
}

.pricingSubtitle {
    text-align: center;
}

.pricingNumber {
    font-size: 1.5rem;
    text-align: center;
    color: #9700ff;
}

.pricingPlan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 16px;
    padding: 20px;
    margin: 20px;
    width: 320px;
    /* box-shadow: 0 10px 25px 0 rgba(0,0,0,0.2) */
}

.freeSignUpButton {
    color: #ffffff;
    background-color: #9700ff;
    margin: auto 10px;
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
}

.greenIcon {
    color: 
}

.pricingTextIcon {
    display: flex;
}

.pricingWrapper {
    display: flex;
}

.drawerItemLogin {}

.reviewButton {
    background-color: #333333;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.reviewHeader {
    font-size: 1.2rem;
    text-transform: none;
    color: white;
    margin: 0;
}

.footerRoot {
    display: flex;
    background-color: #000000;
    color: white;
    height: 110px;
}

.rocsitesText {
    font-size: 0.7rem;
    margin-bottom: 15px;
    color: white;
}

.rocsitesText a {
    color: white;
}

.socialFooter {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.marginAuto {
    margin: 10px auto;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinkWrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.socialLinkWrapperNav {
    display: flex;
    justify-content: center;
    margin: auto 20px;
}

.socialLinkWrapperNavMobile {
    display: flex;
    margin: 15px;
}

.socialDrawer {
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.socialDrawerFb {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    margin-bottom: 1px;
}

.socialNav {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.socialNavFb {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    margin-bottom: 1px;
}

.connectHeader {
    font-size: 2rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.addressText {
    text-align: center;
    margin: 40px 0;
}

.signupWrapper {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #9700ff;
}

.signUpText {
    color: white;
    font-weight: bold;
}

.submitEmailButton {
    border-radius: 4px;
    padding: 5px 20px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    margin: auto;
    height: 50px;
}

.emailWrapper {
    display: flex;
}

.signUpTextForm {
    color: white;
}

.emailInput {
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 25px;
    margin-right: 10px;
    height: 50px;
    width: 90%;
}

@media(max-width:600px) {

    .howItWorksCardsWrapper {
        flex-direction: column;
    }

    .pricingWrapper {
        flex-direction: column;
    }

    .landingSubheader,
    .landingSubtext {
        padding: 15px;
        line-height: 1.5;
    }

    .jobPost {
        flex-direction: column;
    }

    .jobDescLink {
        align-items: flex-start;
    }

    .textLeft,
    .textRight {
        text-align: left;
    }

    .landingHeader {
        margin-top: 100px;
    }

    .menuLink {
        font-size: 1.25rem;
    }

    .socialLink {}

    .aboutSectionWrapper iframe {
        width: 90%;
        margin: auto;
    }

    .socialLinkWrapperNav {
        display: none;
    }

    .navCallButton,
    .navCallButtonMobile {
        font-size: 0.75rem;
    }
}